@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,500,600,600i,800,800i);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

::-moz-selection {
  background: #a199b7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #a199b7;
  color: #fff;
  text-shadow: none;
}

#root {
  overflow: hidden;
}

.alert {
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: block;
  padding: 23px 29px;
  z-index: 9999;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  font-weight: 600;
  font-size: 15px;
  color: #8982a5;
  border-left: 4px solid #b99cf9;
}

#main-header {
  position: fixed;
  background: rgba(255, 255, 255, 0.98);
  padding: 29px 5%;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.033);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.033);
}

#main-header #page-logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#dc9ef7), to(#8e9afc));
  background: linear-gradient(to right, #dc9ef7 0%, #8e9afc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-header #page-logo span {
  font-weight: 400;
}

#page-cover {
  margin-top: 85px;
  padding: 220px 5%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  position: relative;
  overflow: hidden;
}

#page-cover .back-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14vw;
  text-transform: uppercase;
  text-shadow: 0 0 48px rgba(0, 0, 0, 0.06);
  text-shadow: #eeeeee -0.520757px 0.520757px 0px, #eeeeee -1.52076px 1.52076px 0px, #efefef -2.52076px 2.52076px 0px, #efefef -3.52076px 3.52076px 0px, #efefef -4.52076px 4.52076px 0px, #f0f0f0 -5.52076px 5.52076px 0px, #f0f0f0 -6.52076px 6.52076px 0px, #f0f0f0 -7.52076px 7.52076px 0px, #f1f1f1 -8.52076px 8.52076px 0px, #f1f1f1 -9.52076px 9.52076px 0px, #f2f2f2 -10.5208px 10.5208px 0px, #f2f2f2 -11.5208px 11.5208px 0px, #f2f2f2 -12.5208px 12.5208px 0px, #f3f3f3 -13.5208px 13.5208px 0px, #f3f3f3 -14.5208px 14.5208px 0px, #f3f3f3 -15.5208px 15.5208px 0px, #f4f4f4 -16.5208px 16.5208px 0px, #f4f4f4 -17.5208px 17.5208px 0px, whitesmoke -18.5208px 18.5208px 0px, whitesmoke -19.5208px 19.5208px 0px, whitesmoke -20.5208px 20.5208px 0px, #f6f6f6 -21.5208px 21.5208px 0px, #f6f6f6 -22.5208px 22.5208px 0px, #f6f6f6 -23.5208px 23.5208px 0px, #f7f7f7 -24.5208px 24.5208px 0px, #f7f7f7 -25.5208px 25.5208px 0px, #f7f7f7 -26.5208px 26.5208px 0px, #f8f8f8 -27.5208px 27.5208px 0px, #f8f8f8 -28.5208px 28.5208px 0px, #f9f9f9 -29.5208px 29.5208px 0px, #f9f9f9 -30.5208px 30.5208px 0px, #f9f9f9 -31.5208px 31.5208px 0px, #fafafa -32.5208px 32.5208px 0px, #fafafa -33.5208px 33.5208px 0px, #fafafa -34.5208px 34.5208px 0px, #fbfbfb -35.5208px 35.5208px 0px, #fbfbfb -36.5208px 36.5208px 0px, #fcfcfc -37.5208px 37.5208px 0px, #fcfcfc -38.5208px 38.5208px 0px, #fcfcfc -39.5208px 39.5208px 0px, #fdfdfd -40.5208px 40.5208px 0px, #fdfdfd -41.5208px 41.5208px 0px, #fdfdfd -42.5208px 42.5208px 0px, #fefefe -43.5208px 43.5208px 0px, #fefefe -44.5208px 44.5208px 0px, white -45.5208px 45.5208px 0px;
}

#page-cover h1 {
  position: relative;
  margin: 0;
  font-size: 43px;
  color: #fff;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#dc9ef7), to(#8e9afc));
  background: linear-gradient(to right, #dc9ef7 0%, #8e9afc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page-cover h1 span {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #9389af;
}

.products-holder {
  background: #f6f4fb;
  color: #1c1d1f;
  padding: 50px 5%;
}

#page-grid.active-cart {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#cart-status {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #1c1d1f;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  border-radius: 9px 0 0 9px;
  background: -webkit-gradient(linear, left top, right top, from(#dc9ef7), to(#8e9afc));
  background: linear-gradient(to right, #dc9ef7 0%, #8e9afc 100%);
  cursor: pointer;
}

#cart-status .ico {
  font-size: 22px;
  position: relative;
  padding-right: 3px;
  margin-right: 16px;
}

#cart-status .items-count {
  position: absolute;
  background: #d6c6ff;
  color: #8e79c5;
  border-radius: 50%;
  width: 21px;
  line-height: 19px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  top: -9px;
  right: -9px;
  border: 1px solid #be9cf8;
}

#cart-status .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#cart-status .price .currency {
  margin-left: 3px;
  font-size: 0.68em;
}

#shopping-cart {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(230, 230, 243, 0.32);
  color: #7f74c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

#shopping-cart input,
#shopping-cart button {
  font-family: 'Montserrat', sans-serif;
}

#shopping-cart .cart-main-tittle {
  font-size: 32px;
  font-weight: 700;
}

#shopping-cart .cart-main-tittle span {
  font-weight: 300;
}

#shopping-cart .empty-cart {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 51px 0 71px;
  border-bottom: 1px solid rgba(127, 116, 199, 0.11);
}

#shopping-cart .cart-holder {
  width: 50%;
  max-width: 800px;
  height: 100%;
  background: rgba(251, 251, 255, 0.77);
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shopping-cart .cart-holder .inner-holder {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 7%;
  max-height: calc(100% - 40px);
  margin-right: -19px;
}

#shopping-cart .cart-setps {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-bottom: 1px solid rgba(127, 116, 199, 0.11);
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 51px;
}

#shopping-cart .cart-setps:before {
  content: attr(data-active);
  position: absolute;
  left: -3px;
  bottom: -20px;
  font-weight: bold;
  font-size: 78px;
  color: rgba(127, 116, 199, 0.045);
}

#shopping-cart .cart-setps li {
  padding: 10px 10px 6px;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
  opacity: .45;
  text-transform: uppercase;
  cursor: default;
  position: relative;
  font-size: 14px;
  color: #574e73;
  font-weight: 500;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#shopping-cart .cart-setps li.active,
#shopping-cart .cart-setps li.clickable {
  cursor: pointer;
  opacity: 1;
}

#shopping-cart .cart-setps li.clickable:hover {
  color: #7f74c7;
}

#shopping-cart .cart-setps li.active {
  color: #7f74c7;
  border-bottom-color: #7f74c7;
  font-weight: 300;
  font-size: 28px;
}

#shopping-cart .bottom-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

#shopping-cart .bottom-controls.only {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#shopping-cart .cart-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #7f74c7;
  border: 1px solid #7f74c7;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border-radius: 4px;
  padding: 12px 22px;
  text-transform: uppercase;
  font-weight: 500;
}

#shopping-cart .cart-button.ghost {
  background: transparent;
  color: #7f74c7;
}

#shopping-cart .get-back {
  display: block;
  text-align: center;
  border-top: 1px solid rgba(127, 116, 199, 0.11);
  padding-top: 23px;
  margin-top: 6px;
  text-transform: uppercase;
  font-weight: 600;
  color: #7f74c7;
}

#shopping-cart #cart-product-list {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#shopping-cart.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#shopping-cart.active #cart-product-list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cart-products {
  margin: 0;
  padding: 0;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #574e73;
  margin: 0 0 13px;
  padding: 0 0 13px;
  border-bottom: 1px dashed rgba(127, 116, 199, 0.18);
}

.cart-product .thumbnail {
  width: 60px;
  margin-right: 26px;
}

.cart-product .thumbnail img {
  max-width: 100%;
}

.cart-product .info {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-product .info .product a {
  text-transform: uppercase;
  text-decoration: none;
  color: #7f74c7;
  font-weight: 500;
  font-size: 16px;
}

.cart-product .info .variant {
  font-size: 13px;
  margin-top: 3px;
}

.cart-product .qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9%;
  font-size: 20px;
  font-weight: 500;
}

.cart-product .qty input {
  border: none;
  background: transparent;
  text-align: center;
  width: 30px;
  font-size: 16px;
  font-weight: 500;
}

.cart-product .qty .increase,
.cart-product .qty .decrease {
  padding: 3px;
  cursor: pointer;
}

.cart-product .price {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-product .price .base {
  font-size: 14px;
}

.cart-product .price .vat {
  font-size: 16px;
  font-weight: 500;
}

.cart-product .remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  border-radius: 2px;
  margin-left: 14px;
  cursor: pointer;
  border: 1px solid rgba(127, 116, 199, 0.18);
  font-size: 11px;
  padding: 8px;
  color: #7f74c7;
}

.cart-product .remove:after {
  content: "X";
}

.bottom-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-items-summary {
  text-align: right;
}

#cart-contact-info .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cart-contact-info .form-row label {
  display: inline-block;
}

#cart-contact-info .form-row input[type=text],
#cart-contact-info .form-row input[type=password],
#cart-contact-info .form-row input[type=email],
#cart-contact-info .form-row input[type=phone],
#cart-contact-info .form-row select {
  width: 100%;
  display: block;
}

#cart-contact-info .form-col .form-error {
  display: none;
}

#cart-contact-info .form-col.hasError .form-error {
  display: block;
}

#cart-contact-info .form-col.col-1 {
  width: 100%;
}

#cart-contact-info .form-col.col-2 {
  width: 49%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

::-moz-selection {
  background: #a199b7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #a199b7;
  color: #fff;
  text-shadow: none;
}

#root {
  overflow: hidden;
}

.alert {
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: block;
  padding: 23px 29px;
  z-index: 9999;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  font-weight: 600;
  font-size: 15px;
  color: #8982a5;
  border-left: 4px solid #b99cf9;
}

#main-header {
  position: fixed;
  background: rgba(255, 255, 255, 0.98);
  padding: 29px 5%;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.033);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.033);
}

#main-header #page-logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#dc9ef7), to(#8e9afc));
  background: linear-gradient(to right, #dc9ef7 0%, #8e9afc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-header #page-logo span {
  font-weight: 400;
}

#page-cover {
  margin-top: 85px;
  padding: 220px 5%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  position: relative;
  overflow: hidden;
}

#page-cover .back-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14vw;
  text-transform: uppercase;
  text-shadow: 0 0 48px rgba(0, 0, 0, 0.06);
  text-shadow: #eeeeee -0.520757px 0.520757px 0px, #eeeeee -1.52076px 1.52076px 0px, #efefef -2.52076px 2.52076px 0px, #efefef -3.52076px 3.52076px 0px, #efefef -4.52076px 4.52076px 0px, #f0f0f0 -5.52076px 5.52076px 0px, #f0f0f0 -6.52076px 6.52076px 0px, #f0f0f0 -7.52076px 7.52076px 0px, #f1f1f1 -8.52076px 8.52076px 0px, #f1f1f1 -9.52076px 9.52076px 0px, #f2f2f2 -10.5208px 10.5208px 0px, #f2f2f2 -11.5208px 11.5208px 0px, #f2f2f2 -12.5208px 12.5208px 0px, #f3f3f3 -13.5208px 13.5208px 0px, #f3f3f3 -14.5208px 14.5208px 0px, #f3f3f3 -15.5208px 15.5208px 0px, #f4f4f4 -16.5208px 16.5208px 0px, #f4f4f4 -17.5208px 17.5208px 0px, whitesmoke -18.5208px 18.5208px 0px, whitesmoke -19.5208px 19.5208px 0px, whitesmoke -20.5208px 20.5208px 0px, #f6f6f6 -21.5208px 21.5208px 0px, #f6f6f6 -22.5208px 22.5208px 0px, #f6f6f6 -23.5208px 23.5208px 0px, #f7f7f7 -24.5208px 24.5208px 0px, #f7f7f7 -25.5208px 25.5208px 0px, #f7f7f7 -26.5208px 26.5208px 0px, #f8f8f8 -27.5208px 27.5208px 0px, #f8f8f8 -28.5208px 28.5208px 0px, #f9f9f9 -29.5208px 29.5208px 0px, #f9f9f9 -30.5208px 30.5208px 0px, #f9f9f9 -31.5208px 31.5208px 0px, #fafafa -32.5208px 32.5208px 0px, #fafafa -33.5208px 33.5208px 0px, #fafafa -34.5208px 34.5208px 0px, #fbfbfb -35.5208px 35.5208px 0px, #fbfbfb -36.5208px 36.5208px 0px, #fcfcfc -37.5208px 37.5208px 0px, #fcfcfc -38.5208px 38.5208px 0px, #fcfcfc -39.5208px 39.5208px 0px, #fdfdfd -40.5208px 40.5208px 0px, #fdfdfd -41.5208px 41.5208px 0px, #fdfdfd -42.5208px 42.5208px 0px, #fefefe -43.5208px 43.5208px 0px, #fefefe -44.5208px 44.5208px 0px, white -45.5208px 45.5208px 0px;
}

#page-cover h1 {
  position: relative;
  margin: 0;
  font-size: 43px;
  color: #fff;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#dc9ef7), to(#8e9afc));
  background: linear-gradient(to right, #dc9ef7 0%, #8e9afc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page-cover h1 span {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #9389af;
}

.products-holder {
  background: #f6f4fb;
  color: #1c1d1f;
  padding: 50px 5%;
}

#page-grid.active-cart {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.component-fade-enter-active,
.component-fade-leave-active {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

.list-leave-active {
  -webkit-animation: fadeOutRight .3s;
          animation: fadeOutRight .3s;
}

.list-enter-active {
  -webkit-animation: flipInX 1s ease-in-out .3s;
          animation: flipInX 1s ease-in-out .3s;
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

