@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,800,800i);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

::-moz-selection {
  background: #b0b2a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #b0b2a1;
  color: #fff;
  text-shadow: none;
}

#main-header {
  position: fixed;
  background: rgba(255, 255, 255, 0.98);
  padding: 40px 5%;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.033);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.033);
}

#main-header #page-logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

#main-header #page-logo span {
  font-weight: 400;
}

#cart-status {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #1c1d1f;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  border-radius: 9px 0 0 9px;
}

#cart-status .ico {
  font-size: 22px;
  position: relative;
  padding-right: 3px;
  margin-right: 16px;
}

#cart-status .items-count {
  position: absolute;
  background: #fff;
  color: #1c1d1f;
  border-radius: 50%;
  width: 22px;
  line-height: 19px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  top: -9px;
  right: -9px;
  border: 2px solid #1c1d1f;
}

#cart-status .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#cart-status .price .currency {
  margin-left: 3px;
  font-size: 0.68em;
}

#page-cover {
  margin-top: 110px;
  padding: 200px 5%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  position: relative;
  overflow: hidden;
}

#page-cover .back-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14vw;
  text-transform: uppercase;
  text-shadow: 0 0 48px rgba(0, 0, 0, 0.06);
}

#page-cover h1 {
  position: relative;
  margin: 0;
  font-size: 43px;
}

#page-cover h1 span {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #949494;
}

.products-holder {
  background: #f0f0f0;
  color: #1c1d1f;
  padding: 50px 5%;
}

#shopping-cart {
  padding: 50px 5%;
  background: #1c1d1f;
  color: #fff;
}

.list-enter-active,
.list-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

