#cart-delivery-info {
    border: 1px solid rgba($color: $cart-main-color, $alpha: .15);
    border-bottom: 0;
    border-radius: 3px;

    .delivery-item {

        label {
            display: flex;
            width: 100%;
            align-items: center;
            border-bottom: 1px solid rgba($color: $cart-main-color, $alpha: .15);
            padding: 10px;
            color: $cart-basic-color;
        }

        

        .thumbnail {
            width: 50px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items:center;
            margin-right: 15px;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
        input {
            margin-right: 14px;
        }
        .name {
            text-transform: uppercase;
            font-weight: 500;
        }
        .desc {
            /*margin-left: auto;
            margin-right: 6%;
            text-align: right;*/
            margin-left: auto;
            margin: 2px 0;
            text-align: left;
            display: block;
            font-weight: 400;
            text-transform: none;
            color: rgba($color: $cart-main-color, $alpha: .7);
        }
        .price {
            font-weight: 500;
            min-width: 95px;
            text-align: right;
            margin-left: auto;
        }

        .more-info {
            border-bottom: 1px solid rgba($color: $cart-main-color, $alpha: .15);
            background: rgba(255, 255, 255, 0.42);
            padding: 29px 29px;

            p {
                margin: 0 0 5px;
                color: $cart-basic-color;
            }

            select {
                margin-top: 20px;
                color: $cart-basic-color;
                width: 100%;
                display: block;
                border: none;
                background: transparent;
                border: 1px solid rgba($color: $cart-main-color, $alpha: .2);
                padding: 7px 8px;
                font-size: 15px;
                outline: 0;
                transition: all .35s ease-in-out;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.42);

            }
        }
    }
}