#shopping-cart {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	color: $cart-main-color;
	display: flex;
	justify-content: flex-end;
	transition: all .5s cubic-bezier(1, -0.29, 0, 1.3);
	backface-visibility: hidden;
	position: fixed;
	transform: translateX(100%);
	opacity: 0; 

	
	&:after {
		content: " ";
		display: block;
		position: absolute;
		background: rgba(255, 255, 255, 0.89);
		left: 100%;
		width: 300px;
		height: 100%;
		top: 0;
	}

	input,button {
		font-family: 'Montserrat', sans-serif;
	}

	.cart-main-tittle {
		font-size: 32px;
		font-weight: 700;
		
		span {
			font-weight: 300;
		}
	}

	.empty-cart {
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
		padding: 51px 0 71px;
		border-bottom: 1px solid rgba($color: $cart-main-color, $alpha: .11);
	}
	
	.cart-holder {
		width: 50%;
		max-width: 800px;
		height: 100%;
		background: rgba(255, 255, 255, 0.89);
		border-radius: 10px 0 0 10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
        justify-content: center;
		position: relative;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.04);
		
		.inner-holder {
			overflow-y: scroll;
			overflow-x: hidden; 
			padding: 20px 7%;
			max-height: calc(100% - 40px);
            margin-right: -19px;
            transition: all .3s ease-in-out;
        }

        &.loading {
            .inner-holder {
                opacity: .34;
                pointer-events: none;
            }

            .threedotloader {
                display: block;
            }
        }
        
        $dotSize: 1.5em;
        $animDelay: 0.3s;

        .threedotloader {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-140%);
            width: $dotSize*4;
            display: none;

            .dot {
                width: $dotSize;
                height: $dotSize;
                border-radius: $dotSize;
                background-color: $cart-main-color;
                transform: scale(0);
                display: inline-block;
                animation: dotanim 1.4s infinite ease-in-out;
                @for $i from 0 to 4 {
                    &:nth-child(#{$i+1}) {
                        animation-delay: $animDelay*$i;
                    }
                }
            }
        }
	}

	.cart-setps {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		border-bottom: 1px solid rgba($color: $cart-main-color, $alpha: .11);
		margin-bottom: 30px;
		align-items: center;
		justify-content: space-between;
		position: relative;
		min-height:51px;
		
		&:before {
			content: attr(data-active);
			position: absolute;
			left: -3px;
			bottom: -20px;
			font-weight: bold;
			font-size: 78px;
			color: rgba($color: $cart-main-color, $alpha: .045);
		}
		
		li {
			padding: 10px 10px 6px;
			margin-bottom: -1px;
			border-bottom: 1px solid transparent;
			opacity: .45;
			text-transform: uppercase;
			cursor: default;
			position: relative;
			font-size: 14px;
			color: $cart-basic-color;
			font-weight: 500;
			transition: all .2s ease-in-out;
			
			&.active,&.clickable {
				cursor: pointer;
				opacity: 1;

			}

			&.clickable:hover {
				color: $cart-main-color;
			}

			&.active {
				color: $cart-main-color;
				border-bottom-color: $cart-main-color;
				font-weight: 300;
    			font-size: 28px
			}
		}
	}

	.bottom-controls {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
		
		&.only {
			justify-content: flex-end;
		}
	}

	.cart-button {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		background: $cart-main-color;
		border: 1px solid $cart-main-color;
		transition: .25s ease-in-out;
		border-radius: 4px;
		padding: 12px 22px;
		text-transform: uppercase;
		font-weight: 500;
		
		&.ghost {
			background:transparent;
			color: $cart-main-color;
		}
	}

	.get-back {
		display: block;
		text-align: center;
		border-top: 1px solid rgba($color: $cart-main-color, $alpha: .11);
		padding-top: 23px;
		margin-top: 6px;
		text-transform: uppercase;
		font-weight: 600;
		color: $cart-main-color;
	}

	#cart-product-list {
		transition: all .5s ease-in-out;
		transform: translateX(50%);
	}

	&.active {
		transform: translateX(0);
		opacity: 1;
		
		#cart-product-list {
			transform: translateX(0);
		}

    }   

    input[type=radio], input[type=checkbox] {
        appearance: none;
        background: transparent;
        width: 12px; height: 12px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 0 0 2px $cart-main-color;
        display: inline-block;
        vertical-align: middle;
        outline: none; 

        &:checked {
            background: $cart-main-color;
        }
    }
    input[type=checkbox] {
        border-radius: 2px;
    }
    
}
