#cart-contact-info {
	.form-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		label {
			display: inline-block;
		}

		input[type=text],input[type=password],input[type=email],input[type=phone],select {
			width: 100%;
			display: block;
		}
	}

	.form-col {
		.form-error {
			display: none;
		}

		&.hasError {
			.form-error {
				display: block;
			}
		}
		&.col-1 {
			width: 100%;
		}
		&.col-2 {
			width: 49%;
		}
	}
}