.cart-products {
    margin: 0;
    padding: 0;
}

.cart-product {
    display: flex;
    color: $cart-basic-color;
    margin: 0 0 13px;
    padding: 0 0 13px;
    border-bottom: 1px dashed rgba($color: $cart-main-color, $alpha: .18);

    .thumbnail {
        width: 60px;
        margin-right: 3%;
        height: 60px;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .info {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .product a {
            text-transform: uppercase;
            text-decoration: none;
            color: $cart-main-color;
            font-weight: 500;
            font-size: 16px;
        }

        .variant {
            font-size: 13px;
            margin-top: 3px;
        }


    }

    .qty {
        margin-right: 9%;
    }

    .price {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .base {
            font-size: 14px;
        }

        .vat {
          font-size: 16px;
          font-weight: 500;  
        }
    }

    .remove {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        border-radius: 2px;
        margin-left: 14px;
        cursor: pointer;
        border: 1px solid rgba($color: $cart-main-color, $alpha: .18);
        font-size: 11px;
        padding: 8px;
        color: $cart-main-color;

        &:after {
            content: "X";
        }
    }
}

.bottom-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px;
}

.cart-items-summary {
    text-align: right;
    color: $cart-basic-color;

    .price {
        font-size: 14px;
        color: rgba($color: $cart-main-color, $alpha: .75);
    }
    .price-vat {
        font-size: 16px;

        strong {
            color: $cart-main-color;
            font-size: 28px;
        }
    }
    strong {font-weight: 600;}
}

#voucher {
    display: flex;
    position: relative;
    align-items: center;

    input[type=text] {
        color: $cart-basic-color;
        width: 150px;
        max-width: 100%;
        display: block;
        border: none;
        background: transparent;
        border: 1px solid rgba($color: $cart-main-color, $alpha: .2);
        padding: 7px 8px;
        font-size: 15px;
        outline: 0;
        transition: all .35s ease-in-out;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.42);

        &:focus {
            border-bottom-color: $cart-main-color;
        }
    }

    button {
        padding: 9px 14px;
        font-size: 12px;
        cursor: pointer;
    }

    .delete-voucher {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;

        a {
            display: block;
        }
    }
}